/* chordpro CSS for the PmWiki Chordpro recipe heavily modified by Otto Bolyós
	 See http://pmwiki.org/wiki/Cookbook/ChordPro
Copyright 2006, 2007, 2008, 2009 Simon Davis
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License, Version 2, as
published by the Free Software Foundation.
http://www.gnu.org/copyleft/gpl.html
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
	v0.3 2009-10-01 add songversion, songnewpage, page-break, line spacing
	v0.2 2009-08-20 significant changes to make work properly
	v0.1 2008-05-26 spacing between refrains
	v0.0 2006-12-27 to go with Chordpro recipe version 0.1
*/
body {
	margin:10px;
	background-color:#fff;
}

@font-face {
	  font-family: "Linux Libertine Display G";
	  src: url("fnts/linlibdg.woff") format('woff');
}

@font-face {
	  font-family: "Linux Libertine G";
	  src: local('Linux Libertine G'), url("fnts/linlibg_r.woff") format('woff');
	  font-style: normal;
}

@font-face {
	  font-family: "Linux Libertine G";
	  src: url("fnts/linlibg_z.woff") format('woff');
	  font-weight: 600
}

@font-face {
	  font-family: "Linux Libertine G";
	  src: url("fnts/linlibg_b.woff") format('woff');
	  font-weight: bold;
}

@font-face {
	  font-family: "Linux Libertine G";
	  src: url("fnts/linlibg_zi.woff") format('woff');
	  font-weight: 600;
	  font-style: italic;
}

@font-face {
	  font-family: "Linux Libertine G";
	  src: url("fnts/linlibg_bi.woff") format('woff');
	  font-weight: bold;
	  font-style: italic;
}

@font-face {
	  font-family: "Linux Libertine G";
	  src: url("fnts/linlibg_r.woff") format('woff');
	  font-style: italic;
}

@font-face {
    font-family: "Ubuntu Mono";
	  src: url("fnts/ubuntum_bi.woff") format('woff');
	  font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Ubuntu Mono";
	  src: url("fnts/ubuntum_b.woff") format('woff');
	  font-weight: bold;
}

@font-face {
    font-family: "Ubuntu Mono";
	  src: url("fnts/ubuntum_ri.woff") format('woff');
	  font-style: italic;
}

@font-face {
    font-family: "Ubuntu Mono";
	  src: url("fnts/ubuntum_r.woff") format('woff');
}


.title h1 { /* h1 */
  font-size: 25pt;
  text-align: center;
  font-family: "Linux Libertine G", serif;
	-moz-font-feature-settings: "case", "cpsp", "liga", "locl", "onum", "pnum", "ss01", "ss02", "ss04", "ss05", "dash", "itlc", "lith", "minu", "quot", "sa01", "sa04", "sa06", "sa08", "thou", "frsp", "smcp";
  text-decoration: underline;
  padding-bottom: 15px;
  padding-top: 0px;
}

.espievatko {
	font-family: "Linux Libertine G", serif;
	text-align: center;
	font-size: 70pt;
	-moz-font-feature-settings: "case", "cpsp", "liga", "locl", "onum", "pnum", "ss01", "ss02", "ss04", "ss05", "dash", "itlc", "lith", "minu", "quot", "sa01", "sa04", "sa06", "sa08", "thou", "frsp", "smcp";
}

.e {
	-moz-font-feature-settings: "case", "cpsp", "liga", "locl", "onum", "pnum", "ss01", "ss02", "ss04", "ss05", "dash", "itlc", "lith", "minu", "quot", "sa01", "sa04", "sa06", "sa08", "thou", "frsp";
	color: #FF0000;
}

.col2 {
	-webkit-column-count:2;
	-moz-column-count:2;
	column-count:2;
}

.break {
	-webkit-page-break-after: column;
	-moz-page-break-after: column;
	-o-page-break-after: column;
	-ms-page-break-after: column;
	page-break-after: column;
}

.texty {
	width: 100%;
	min-height: 180px;
	max-height: 400px;
	resize: vertical;
}

.nazov {
	-moz-border-radius:5px;
}

.terminal {
	font-family: "Ubuntu Mono";
	background: #999999;
}

.songtitle { /* h2 */
	font-size: 16pt;
	text-align: left;
	font-family: "Linux Libertine G", serif;
	-moz-font-feature-settings: "case", "cpsp", "liga", "locl", "onum", "pnum", "ss01", "ss02", "ss04", "ss05", "dash", "itlc", "lith", "minu", "quot", "sa01", "sa04", "sa06", "sa08", "thou", "frsp", "smcp";
	text-decoration: underline;
	line-height:90%
}

.songsubtitle { /* h3 */
	font-family: "Ubuntu Mono", serif;
	font-style: italic;
	font-size: 10pt;
	line-height:0%;
	text-indent: 50px;
}
.songalbum { /* div */
	font-family: "Linux Libertine G", serif;
	-moz-font-feature-settings: "case", "cpsp", "liga", "locl", "onum", "pnum", "ss01", "ss02", "ss04", "ss05", "dash", "itlc", "lith", "minu", "quot", "sa01", "sa04", "sa06", "sa08", "thou", "frsp";
	color: black;
	page-break-inside: avoid;
}
.song { /* div around entire markup*/
	background-color: White;
	}
.songchorus { /* div, to highlight chorus */
	/* padding-left: 1.5em; */ /* indent chorus */
	font-family: "Linux Libertine G", serif;
	-moz-font-feature-settings: "case", "cpsp", "liga", "locl", "onum", "pnum", "ss01", "ss02", "ss04", "ss05", "dash", "itlc", "lith", "minu", "quot", "sa01", "sa04", "sa06", "sa08", "thou", "frsp";
	color: black;
	page-break-inside: avoid;
}
.songtab { /* div, for tablature */
	font-family: monospace;
	font-size: 90%;
	line-height: 90%;
	white-space: pre;
	page-break-inside: avoid;
}
.songline {
	/* table, a chord and a lyrics line  */
	empty-cells: show;
	margin: 0em;
	padding: 0em;
	padding-top: 0.1em;
	padding-bottom: .1em;
	page-break-inside: avoid;
}
.songlyricchord, /* tr, chord line (above) */
.songlyricline { /* tr, lyric line (below) */
	margin: 0em;
	padding: 0em;
	page-break-inside: avoid;
}
.songlyricchord td /* line element containing one chord */ {
	padding-top: 0.1em;
}
.songlyricline td { /* line element containing lyrics for one chord */
	font-family: "Linux Libertine G", serif;
	-moz-font-feature-settings: "case", "cpsp", "liga", "locl", "onum", "pnum", "ss01", "ss02", "ss04", "ss05", "dash", "itlc", "lith", "minu", "quot", "sa01", "sa04", "sa06", "sa08", "thou", "frsp";
	background-color: white;
	margin: 0em;
	padding: 0em;
	white-space: pre;
	font-size: 16pt;
	line-height: 90%;
}
.songlyricchord td { /* specific chord formatting */
	font-family: "Linux Libertine G", serif;
	-moz-font-feature-settings: "case", "cpsp", "liga", "locl", "onum", "pnum", "ss01", "ss02", "ss04", "ss05", "dash", "itlc", "lith", "minu", "quot", "sa01", "sa04", "sa06", "sa08", "thou", "frsp";
	color: black;
	font-weight: 600;
	font-size: 12pt;
}
.songlyricline td { /* specific lyrics formatting */
	font-family: "Linux Libertine G", serif;
	-moz-font-feature-settings: "case", "cpsp", "liga", "locl", "onum", "pnum", "ss01", "ss02", "ss04", "ss05", "dash", "itlc", "lith", "minu", "quot", "sa01", "sa04", "sa06", "sa08", "thou", "frsp";
	color: black;
	font-size: 12pt;
}
.songcomment { /* div around comments of all types*/
	color: black;
	font-family: "Ubuntu Mono";
	font-style: italic;	
	font-size: 10pt;
	page-break-inside: avoid;
}
.songcommentsimple, .songcommentitalic, .songcommentbox { /* for span around comments of all types*/
	background-color: white;
}
.songcommentsimple { /* span specific comment formatting */
}
.songcommentitalic { /* span specific comment formatting */
	font-style: italic;
}
.songcommentbox { /* span specific comment formatting */
	border: 1px solid black;
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.songdebug { /* span, for debug output */
	font-size: x-small;
	color: Red;
}
.songmessage { /* span, eg unknown directive */
	font-weight: bolder;
	font-size: smaller;
	color: black;
}
.songversion { /* span, for version display */
	font-size: smaller;
	color: black;
}
.songnewpage { /* div, some browsers may action this formatting */
	page-break-after: always; /* ask browser to start a new page */
	clear: both; /* clear content before page break */
}
/* end of chordpro.css */

/*::-moz-placeholder {
	font-family: Ubuntu Mono;
	font-size: 12pt;
}*/
